
	<div>
		<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Giới Thiệu
		</h2>
	</section>

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Câu Chuyện Của Chúng Tôi
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Tại <strong>Beauty Essentials</strong>, chúng tôi tin rằng vẻ đẹp thực sự bắt nguồn từ sự tự
							tin và sự chăm
							sóc
							tận tình. Được thành lập từ năm 2020, chúng tôi đã nỗ lực không ngừng để mang đến những sản
							phẩm
							mỹ phẩm chất lượng nhất, giúp mọi người tỏa sáng từ bên trong.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Với sứ mệnh làm đẹp bền vững, chúng tôi không chỉ cung cấp những sản phẩm hiệu quả mà còn
							cam
							kết lựa chọn những thương hiệu nổi tiếng và sản phẩm chất lượng cao. <strong>Beauty
								Essentials</strong> luôn
							nỗ lực để đáp ứng
							mọi
							nhu cầu làm đẹp của khách hàng.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Mọi thắc mắc xin vui lòng liên hệ tại cửa hàng của chúng tôi ở <strong>Số 288, Nguyễn Văn
								Linh,
								phường An Khánh, quận Ninh Kiều, Tp. Cần Thơ</strong> hoặc gọi điện qua số <strong>(+84)
								077 991
								2345</strong>.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Sứ Mệnh Của Chúng Tôi
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Tại <strong>Beauty Essentials</strong>, sứ mệnh của chúng tôi là mang đến những sản phẩm làm
							đẹp chất lượng
							cao,
							mang lại sự tự tin và hài lòng cho mọi khách hàng. Chúng tôi không ngừng đổi mới và cải tiến
							để
							mang đến những sản phẩm an toàn, hiệu quả và thân thiện với môi trường.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								"Vẻ đẹp bắt đầu từ khoảnh khắc bạn quyết định là chính mình."
							</p>

							<span class="stext-111 cl8">
								- Coco Chanel
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>

	<script src="vendor/animsition/js/animsition.min.js"></script>
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<!-- Các đoạn code jQuery -->
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next(".dropDownSelect2"),
    });
  });
</script>
<!-- Các file khác -->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="js/slick-custom.js"></script>
<script src="vendor/parallax100/parallax100.js"></script>
<script>
  $(".parallax100").parallax100();
</script>
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
  $(".gallery-lb").each(function () {
    $(this).magnificPopup({
      delegate: "a",
      type: "image",
      gallery: { enabled: true },
      mainClass: "mfp-fade",
    });
  });
</script>
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<script src="vendor/sweetalert/sweetalert.min.js"></script>
<script>
  $(".js-addwish-b2").on("click", function (e) {
    e.preventDefault();
  });

  $(".js-addwish-b2").each(function () {
    var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
    $(this).on("click", function () {
      swal(nameProduct, "is added to wishlist !", "success");

      $(this).addClass("js-addedwish-b2");
      $(this).off("click");
    });
  });

  $(".js-addwish-detail").each(function () {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .find(".js-name-detail")
      .html();

    $(this).on("click", function () {
      swal(nameProduct, "is added to wishlist !", "success");

      $(this).addClass("js-addedwish-detail");
      $(this).off("click");
    });
  });

  $(".js-addcart-detail").each(function () {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .parent()
      .find(".js-name-detail")
      .html();
    $(this).on("click", function () {
      swal(nameProduct, "is added to cart !", "success");
    });
  });
</script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $(".js-pscroll").each(function () {
    $(this).css("position", "relative");
    $(this).css("overflow", "hidden");
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on("resize", function () {
      ps.update();
    });
  });
</script>
<!-- Các file AngularJS -->
<script src="js/main.js"></script>