<div>
    <!--Banner-->
	<div class="banner-ads">
		<img src="images/banner_loreal.jpg" alt="">
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Tổng quan về sản phẩm
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						Tất cả
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".sua-rua-mat">
						Sữa rửa mặt
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".kem-chong-nang">
						Kem chống nắng
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".serum">
						Serum
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".tay-trang">
						Tẩy trang
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Lọc
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Tìm kiếm
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
							placeholder="Tìm kiếm">
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sắp xếp
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Mặc định
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Bán chạy
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Đánh giá 5 sao
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Mới nhất
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: Từ thấp tới cao
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: Cao tới thấp
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Giá
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Tất cả
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										50.000₫ - 200.000₫
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										200.000₫ - 400.000₫
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										400.000₫ - 700.000₫
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										>700.000₫
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										White
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Tags
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<main class="product-container">
				<aside>
					<nav class="nav-product">
						<h2>Thương Hiệu</h2>
						<ul>
							<li class="li-product"><a href="#">E.L.F</a></li>
							<li class="li-product"><a href="#">Makeup Revolution</a></li>
							<li class="li-product"><a href="#">Eve Hansen</a></li>
							<li class="li-product"><a href="#">ColourPop</a></li>
							<li class="li-product"><a href="#">Rimmel London</a></li>
							<li class="li-product"><a href="#">L.A. Girl Cosmetics</a></li>
						</ul>
					</nav>

					<nav class="nav-filter">
						<h2>Khoảng Giá</h2>
						<div class="price-filter">
							<div class="price-inputs">
								<input type="text" id="minPriceInput" oninput="updateRange()" placeholder="Từ">
								-
								<input type="text" id="maxPriceInput" oninput="updateRange()" placeholder="Đến">
							</div>
							<button class="btn btn-dark filter-btn" onclick="applyFilter()">Lọc</button>
						</div>
					</nav>
				</aside>
				<main>
					<div class="row isotope-grid">
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0" style=" border-bottom: 1px solid #ddd;">
									<img src=" images/product/sua-rua-mat/1_Acnes_CreamyWash100g.webp"
										alt="IMG-PRODUCT">

									<a href="#" style="border: 10px black;"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Acnes Trị Mụn Creamy Wash 100g
										</a>

										<span class="stext-105 cl3">
											65,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/2_Cerave_xanhla236ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Cerave Xanh Lá Hydrating Facial Cleanser 236ml
										</a>

										<span class="stext-105 cl3">
											379,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item kem-chong-nang">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/kem-chong-nang/1_SVR_SunCecureBlur_SFP50_50ml.webp"
										alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Only Check Trouser
										</a>

										<span class="stext-105 cl3">
											$25.50
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/3_CosrxLowPH150ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Cosrx Low pH Good Morning Gel Cleanser 150ml
										</a>

										<span class="stext-105 cl3">
											185,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/4_La_RochePosay_xanhla_50ml.webp"
										alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt La Roche-Posay Xanh Lá Effaclar Micro-Peeling Purifying Gel 50ml
										</a>

										<span class="stext-105 cl3">
											175,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item serum">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/serum/1_TheOrdinaryLactic_30ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Serum The Ordinary Lactic Acid 5 + HA 2% 30ml
										</a>

										<span class="stext-105 cl3">
											400,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/5_Loreal_mauhong50ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Loreal Màu Hồng 50ml Glycolic-Bright Glowing Daily Cleanser Foam
										</a>

										<span class="stext-105 cl3">
											150,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/6_Senka_xanh100g.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Senka Xanh Perfect Whip Acne Care 100g
										</a>

										<span class="stext-105 cl3">
											75,000₫
											<del class="">105,000₫</del>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item tay-trang">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/tay-trang/2_SimpleMicellar_200ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Nước Tẩy Trang Simple Micellar Cleansing Water 200ml
										</a>

										<span class="stext-105 cl3">
											88,000₫
											<del>210,000₫</del>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/7_simple150ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt Simple Purifying Gel Wash Daily Skin Detox 150ml
										</a>

										<span class="stext-105 cl3">
											132,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item kem-chong-nang">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/kem-chong-nang/2_DBH_UVShield_60ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Kem Chống Nắng DBH Bản Hàn UV Shield SPF50+ PA+++ 60ml
										</a>

										<span class="stext-105 cl3">
											1,300,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item kem-chong-nang">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/kem-chong-nang/3_Anessa_Gel_90g.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Kem Chống Nắng Anessa Gel Perfect UV Sunscreen Skincare SPF50+ PA++++ 90g
										</a>

										<span class="stext-105 cl3">
											460,000₫
											<del>575,000₫</del>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/8_SVR_hong200ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt SVR Hồng Topialyse Gel Lavant 200ml
										</a>

										<span class="stext-105 cl3">
											288,000₫
											<del>320,000₫</del>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/9_SVR_xanhduong200ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt SVR Xanh Dương Physiopure Gelée Moussante 200ml
										</a>

										<span class="stext-105 cl3">
											545,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item serum">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/serum/2_AHC_Xanh_50ml.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Tinh Chất Serum AHC Xanh Capture Moist Solution Max Ampoule 50ml
										</a>

										<span class="stext-105 cl3">
											280,000₫
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item sua-rua-mat">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="images/product/sua-rua-mat/10_SVR400ml_Sebiaclear.webp" alt="IMG-PRODUCT">

									<a href="#"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="#product-detail"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											Sữa Rửa Mặt SVR 400ml Sebiaclear Gel Moussant
										</a>

										<span class="stext-105 cl3">
											468,000₫
											<del>520,000₫</del>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Load more -->
					<div class="flex-c-m flex-w w-full p-t-45">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true" style="color: black;">&laquo;</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#" style="color: black;">1</a></li>
								<li class="page-item"><a class="page-link" href="#" style="color: black;">2</a></li>
								<li class="page-item"><a class="page-link" href="#" style="color: black;">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true" style="color: black;">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</main>
			</main>
			</div>
		</div>
	</section>
</div>