<div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
              <a href="#home/0" class="stext-109 cl8 hov-cl1 trans-04">
                Trang chủ
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
              </a>
      
              <span class="stext-109 cl4"> Giỏ hàng </span>
            </div>
          </div>

          <!-- <form class="bg0 p-t-75 p-b-85">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                  <div class="m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                      <table class="table-shopping-cart">
                        <thead class="thead-dark">
                          <tr class="table_head bg-dark">
                            <th class="col-lg-1"></th>
                            <th class="col-lg-4">Sản phẩm</th>
                            <th class="col-lg-2">Đơn giá</th>
                            <th class="col-lg-3">Số lượng</th>
                            <th class="col-lg-2">Thành tiền</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="gh in cart" class="table_row">
                            <td class="col-lg-1">
                              <div ng-click="removeFromCart(item.id)" class="how-itemcart1">
                                <img ng-src="images/product/{{gh.product.hinh[0].img}}" alt="IMG" />
                              </div>
                            </td>
                            <td class="col-lg-4">{{gh.product.maSP.tenSP}}</td>
                            <td class="col-lg-2">{{gh.product.gia}}đ</td>
                            <td class="col-lg-3">
                              <div class="wrap-num-product flex-w justify-content-between align-items-center">
                                  <div ng-click="decrease(gh)" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                      <i class="fs-16 zmdi zmdi-minus"></i>
                                  </div>
                                  <input
                                      class="mtext-104 cl3 txt-center num-product"
                                      type="number"
                                      name="num-product"
                                      ng-model="gh.quantity"
                                      readonly
                                  />
                                  <div ng-click="increase(gh)" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                      <i class="fs-16 zmdi zmdi-plus"></i>
                                  </div>
                              </div>
                          </td>
                            <td class="col-lg-2">{{gh.product.gia * gh.quantity}}đ</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                      <div class="mt-5">
                        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                          <div>
                            <span class="h5 text-dark">Tổng tiền:</span>
                          </div>
                          <div class="ml-auto align-right">
                            <span class="h4 text-dark">{{getTotalPrice()}}đ</span>
                          </div>
                        </div>
                      </div>
                      <a
                        class="btn btn-dark flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                        href="#payment"
                      >
                        Thanh toán
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form> -->
          
          <form class="bg0 p-t-75 p-b-85">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                        <div class="m-lr-0-xl">
                            <div class="wrap-table-shopping-cart">
                                <table class="table-shopping-cart">
                                    <thead class="thead-dark">
                                        <tr class="table_head bg-dark">
                                            <th class="col-lg-1"></th>
                                            <th class="col-lg-4">Sản phẩm</th>
                                            <th class="col-lg-2">Đơn giá</th>
                                            <th class="col-lg-3">Số lượng</th>
                                            <th class="col-lg-2">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="gh in cart" class="table_row">
                                            <td class="col-lg-1">
                                                <div ng-click="removeFromCart(gh.product.maCTSP)" class="how-itemcart1">
                                                    <img ng-src="images/product/{{gh.product.hinh[0].img}}" alt="IMG" />
                                                </div>
                                            </td>
                                            <td class="col-lg-4">{{gh.product.maSP.tenSP}}</td>
                                            <td class="col-lg-2">{{gh.product.gia}}đ</td>
                                            <td class="col-lg-3">
                                                <div class="wrap-num-product flex-w justify-content-between align-items-center">
                                                    <div ng-click="decrease(gh)" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>
                                                    <input
                                                        class="mtext-104 cl3 txt-center num-product"
                                                        type="number"
                                                        name="num-product"
                                                        ng-model="gh.quantity"
                                                        ng-change="updateQuantity(gh)"
                                                        min="1"
                                                        max="{{gh.product.soluong}}"
                                                        
                                                    />
                                                    <div ng-click="increase(gh)" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-lg-2">{{gh.product.gia * gh.quantity}}đ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                                <div class="mt-5">
                                    <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                                        <div>
                                            <span class="h5 text-dark">Tổng tiền:</span>
                                        </div>
                                        <div class="ml-auto align-right">
                                            <span class="h4 text-dark">{{getTotalPrice()}}đ</span>
                                        </div>
                                    </div>
                                </div>
                                <a
                                    class="btn btn-dark flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                                    href="#payment"
                                >
                                    Thanh toán
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        
</div>

<style>
  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-size: 14px;
    overflow: hidden;
    height: 50px;
}

.toast .close {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.toast .close:hover {
    color: #ff0000;
}

.toast .progress-bar {
    height: 4px;
    background-color: #ff0000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: width 2s linear;
}


</style>