.wrap-login100 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 30px; /* Giảm padding để form ngắn hơn */
    max-width: 500px; /* Giảm max-width để form hẹp hơn */
    width: 100%;
    margin: auto;
}

.login100-form-title {
    font-size: 20px; /* Giảm kích thước font để tiêu đề nhỏ hơn */
    font-weight: 700;
    color: #333;
    margin-bottom: 20px; /* Giảm khoảng cách dưới tiêu đề */
    text-align: center;
}

.btn-face, .btn-google {
    width: 48%;
    height: 65%;
    font-size: 14px;
    padding: 5px; /* Giảm padding để nút nhỏ hơn */
    border-radius: 5px;
    margin: 5px;
}

.btn-face {
    background-color: #3b5998;
    color: #fff;
}

.btn-google {
    background-color: #db4437;
    color: #fff;
}

.wrap-input100 {
    margin-bottom: 15px; /* Giảm khoảng cách dưới input */
}

.login100-form-btn {
    background-color: #57b846;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

.login100-form-btn:hover {
    background-color: #45a637;
}

.txt1, .txt2 {
    font-size: 14px;
    color: #666;
}

.txt2.bo1 {
    color: #57b846;
    text-decoration: none;
}

.txt2.bo1:hover {
    text-decoration: underline;
}

.container-login100-form-btn {
    display: flex;
    justify-content: center;
}

/* Định dạng cho nội dung modal */
.modal-body {
    padding: 15px; /* Giảm padding để nội dung nhỏ hơn */
}

.modal-dialog {
    max-width: 360px; /* Đặt chiều rộng tối đa của modal */
    margin: 1.5rem auto; /* Căn giữa modal */
}

.modal-content {
    border-radius: 8px; /* Bo tròn các góc của modal */
    overflow: hidden; /* Đảm bảo không có nội dung tràn ra ngoài modal */
}

.modal-body {
    max-height: 92vh; /* Đặt chiều cao tối đa của nội dung modal */
    padding: 10px; /* Padding nội dung */
}

.modal-dialog .modal-content {
    height: 100%; /* Đảm bảo modal chiếm toàn bộ chiều cao của cửa sổ */
    display: flex;
    flex-direction: column; /* Căn chỉnh các phần tử bên trong modal theo cột */
}

.modal-dialog .modal-content .modal-body {
    flex: 1 1 auto; /* Cho phép modal-body mở rộng để chiếm không gian còn lại */
}
