<section class="section">
    <div class="row">

        <!-- Nội dung  -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quản Lý Đơn Hàng</h5>

                <!-- Bordered Tabs Justified -->
                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="cho-xacnhan" data-bs-toggle="tab"
                            data-bs-target="#bcho-xacnhan" type="button" role="tab" aria-selected="true">Chờ Xác
                            Nhận</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="da-xacnhan" data-bs-toggle="tab"
                            data-bs-target="#bda-xacnhan" type="button" role="tab" aria-selected="false">Đã Xác
                            Nhận</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="dang-giao" data-bs-toggle="tab" data-bs-target="#bdang-giao"
                            type="button" role="tab" aria-selected="false">Đang
                            Giao</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="da-giao" data-bs-toggle="tab" data-bs-target="#bda-giao"
                            type="button" role="tab" aria-selected="false">Đã
                            Giao</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="da-huy" data-bs-toggle="tab" data-bs-target="#bda-huy"
                            type="button" role="tab" aria-selected="false">Đã
                            Hủy</button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                    <div class="tab-pane fade show active" id="bcho-xacnhan" role="tabpanel"
                        aria-labelledby="cho-xacnhan">
                        <div class="container">
                            <div class="order-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã đơn</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày Đặt</th>
                                            <th>Tùy chọn thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th>Chi tiết đơn hàng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>3.024.210d</td>
                                            <td>17/06/2024 21:52:35</td>
                                            <td>VnPay</td>
                                            <td>Chờ xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>25.223.300d</td>
                                            <td>17/06/2024 21:53:58</td>
                                            <td>VnPay</td>
                                            <td>Chờ xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>25.235.201d</td>
                                            <td>17/06/2024 21:54:15</td>
                                            <td>VnPay</td>
                                            <td>Chờ xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bda-xacnhan" role="tabpanel" aria-labelledby="da-xacnhan">
                        <div class="container">
                            <div class="order-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã đơn</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày Đặt</th>
                                            <th>Tùy chọn thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th>Chi tiết đơn hàng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>3.024.210d</td>
                                            <td>17/06/2024 21:52:35</td>
                                            <td>VnPay</td>
                                            <td>Đã xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>25.223.300d</td>
                                            <td>17/06/2024 21:53:58</td>
                                            <td>VnPay</td>
                                            <td>Đã xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>25.235.201d</td>
                                            <td>17/06/2024 21:54:15</td>
                                            <td>VnPay</td>
                                            <td>Đã xác nhận</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bdang-giao" role="tabpanel" aria-labelledby="dang-giao">
                        <div class="container">
                            <div class="order-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã đơn</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày Đặt</th>
                                            <th>Tùy chọn thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th>Chi tiết đơn hàng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>3.024.210d</td>
                                            <td>17/06/2024 21:52:35</td>
                                            <td>VnPay</td>
                                            <td>Đang giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>25.223.300d</td>
                                            <td>17/06/2024 21:53:58</td>
                                            <td>VnPay</td>
                                            <td>Đang giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>25.235.201d</td>
                                            <td>17/06/2024 21:54:15</td>
                                            <td>VnPay</td>
                                            <td>Đang giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bda-giao" role="tabpanel" aria-labelledby="da-giao">
                        <div class="container">
                            <div class="order-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã đơn</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày Đặt</th>
                                            <th>Tùy chọn thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th>Chi tiết đơn hàng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>3.024.210d</td>
                                            <td>17/06/2024 21:52:35</td>
                                            <td>VnPay</td>
                                            <td>Đã giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>25.223.300d</td>
                                            <td>17/06/2024 21:53:58</td>
                                            <td>VnPay</td>
                                            <td>Đã giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>25.235.201d</td>
                                            <td>17/06/2024 21:54:15</td>
                                            <td>VnPay</td>
                                            <td>Đã giao</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                            <td><a href="#"><button class="chi-tiet-btn">Xác Nhận</button></a>
                                                <a href="#"><button class="chi-tiet-btn">Hủy Đơn </button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bda-huy" role="tabpanel" aria-labelledby="da-huy">
                        <div class="container">
                            <div class="order-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã đơn</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày Đặt</th>
                                            <th>Tùy chọn thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th>Chi tiết đơn hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>3.024.210d</td>
                                            <td>17/06/2024 21:52:35</td>
                                            <td>VnPay</td>
                                            <td>Đã hủy</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>25.223.300d</td>
                                            <td>17/06/2024 21:53:58</td>
                                            <td>VnPay</td>
                                            <td>Đã hủy</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>25.235.201d</td>
                                            <td>17/06/2024 21:54:15</td>
                                            <td>VnPay</td>
                                            <td>Đã hủy</td>
                                            <td><a href="#" onclick="showOrderDetails()"><button
                                                        class="chi-tiet-btn">Xem Chi tiết</button></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="orderDetailsModal" class="order-details-modal">
                        <div class="order-details-content order-details-text">
                            <h2>Thông tin chi tiết đơn hàng</h2>
                            <h3>Mã đơn : 1</h3>

                            <br>
                            <!-- các sản phẩm -->
                            <div class="row">
                                <div class="col-md-1">
                                    #
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-3">
                                    <p> Tên sản phẩm</p>
                                </div>
                                <div class="col-md-2">
                                    <p> Số lượng </p>
                                </div>
                                <div class="col-md-2">
                                    <p>Đơn giá </p>
                                </div>
                            </div>
                            <!-- các sản phẩm -->
                            <div class="row">
                                <div class="col-md-1">
                                    1
                                </div>
                                <div class="col-md-4">
                                    <img src="/images/profile.jpg" alt="Profile" style="height: 300px; width: 250px">
                                </div>
                                <div class="col-md-3">
                                    <p> Kem nền </p>
                                </div>
                                <div class="col-md-2">
                                    <p> x1 </p>
                                </div>
                                <div class="col-md-2">
                                    <p>6.600.000đ </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    2
                                </div>
                                <div class="col-md-4">
                                    <img src="/images/profile.jpg" alt="Profile" style="height: 300px; width: 250px">
                                </div>
                                <div class="col-md-3">
                                    <p> Kem dưỡng ẩm </p>
                                </div>
                                <div class="col-md-2">
                                    <p> x1 </p>
                                </div>
                                <div class="col-md-2">
                                    <p>3.620.000đ </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <table>
                                        <tr>
                                            <th>Tổng giá trị đơn</th>
                                            <td>6.600.000đ</td>
                                        </tr>
                                        <tr>
                                            <th>Giảm giá</th>
                                            <td>600.000đ</td>
                                        </tr>
                                        <tr>
                                            <th>Thành tiền</th>
                                            <td>6.000.000đ</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-8">
                                    <table>
                                        <tr>
                                            <th>Tên khách hàng</th>
                                            <td>Nguyễn Thị Ngọc Bích</td>
                                        </tr>
                                        <tr>
                                            <th>Số điện thoại</th>
                                            <td>0349555221</td>
                                        </tr>
                                        <tr>
                                            <th>Địa chỉ</th>
                                            <td>90 /3b, Xa Giai Xuân, Huyện Phong Điền, Cần Thơ</td>
                                        </tr>
                                        <tr>
                                            <th>Ngày đặt hàng</th>
                                            <td>23/06/2024</td>
                                        </tr>
                                        <tr>
                                            <th>Phương thức thanh toán</th>
                                            <td>Ví VNPAY</td>
                                        </tr>
                                        <tr>
                                            <th>Trạng thái thanh toán</th>
                                            <td>Đã thanh toán</td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="actions">
                                    <button class="action-btn" onclick="closeOrderDetails()">Xác nhận</button>
                                    <button class="action-btn" onclick="closeOrderDetails()">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Bordered Tabs Justified -->

            </div>
        </div>

    </div>
</section>