<div class="pagetitle">
    <h1>Quản Lý Giảm Giá</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Discount</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bảng Quản Lý Giảm Giá</h5>
        <!-- Small tables -->
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">ID Giảm Giá</th>
                    <th scope="col">Mã Giảm Giá</th>
                    <th scope="col">Giá Giảm</th>
                    <th scope="col">Đơn Hàng Tối Thiểu </th>
                    <th scope="col">Số Tiền Giảm Tối Đa</th>
                    <th scope="col">Ngày Áp Dụng</th>
                    <th scope="col">Ngày Kết Thúc</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Hình</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">233</th>
                    <td>GKMSUWJ5</td>
                    <td>5%</td>
                    <td>600.000VNĐ</td>
                    <td>200.000VNĐ</td>
                    <td>24/07/2024</td>
                    <td>01/08/2004</td>
                    <td>10</td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">233</th>
                    <td>GKMSUWJ5</td>
                    <td>5%</td>
                    <td>600.000VNĐ</td>
                    <td>200.000VNĐ</td>
                    <td>24/07/2024</td>
                    <td>01/08/2004</td>
                    <td>10</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- End small tables -->

    </div>
</div>


<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quản Lý Giảm Giá</h5>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText1" class="col-sm-4 col-form-label">ID Giảm Giá</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText1" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText2" class="col-sm-4 col-form-label">Mã Giảm Giá</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText3" class="col-sm-4 col-form-label">Giá Giảm</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText4" class="col-sm-4 col-form-label">Đơn Hàng Tối
                                        Thiểu</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText4">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText5" class="col-sm-4 col-form-label">Giảm Tối Đa</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputDate1" class="col-sm-4 col-form-label">Ngày Áp Dụng</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="inputDate1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputDate2" class="col-sm-4 col-form-label">Ngày Kết Thúc</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="inputDate2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputText6" class="col-sm-4 col-form-label">Số Lượng</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputText6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label for="inputfile1" class="col-sm-4 col-form-label">Hình ảnh</label>
                                    <div class="col-sm-8">
                                        <input type="file" class="form-control" id="inputfile1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <button type="button" class="btn btn-success me-2">Thêm</button>
                            <button type="button" class="btn btn-warning me-2">Sửa</button>
                            <button type="button" class="btn btn-danger">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>